.gradle
build/
gradle/wrapper
gradlew
gradlew.bat

local.properties

.idea/
*.iml
*.iws

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
.idea/vcs.xml
.idea/shelf/

app/google-services.json

*.class
*.jar
*.war
*.ear
*.apk
*.ap_
*.dex
*.aab

captures/
output.json
release/
debug/

.cxx/
.externalNativeBuild/
build/intermediates/ndkBuild/
build/intermediates/cmake/

*.jks
*.keystore
*.keystore.*
keystore.properties
signingConfigs/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*~.nib
/.vs/
/bin/
/obj/